<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Notification Menu</title>
    <script src={% static 'jquery-3.1.1.min.js' %}></script>
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %} >
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %} integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 </head>
<body style="padding:50px;background:url({% static 'back.png' %}); background-repeat:no-repeat;">
<div class="container">
    <div class="card">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Message</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody id="table_data">
          </tbody>
        </table>
      </div>
        <button style="padding:-10px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendnotify">Send notification</button> 
    </div>
</div>
<div class="modal fade" id="sendnotify" tabindex="-1" role="dialog" aria-labelledby="sendnotifyLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendnotifyLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="noti-title" class="col-form-label">Notification Title</label>
            <input type="text" class="form-control" id="noti-title">
          </div>
          <div class="form-group">
            <label for="noti-body" class="col-form-label">Notification Body</label>
            <textarea class="form-control" id="noti-body"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="send()" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
<script>
    var selected_user=[];
    function selectRow(id){
    var selected_user=0;
    all_row=document.getElementsByClassName("table-info");
    console.log(all_row);
    selected_user=[]
    for (let i in all_row) {  
        $('#'+((all_row[i]).id)).toggleClass("table-info");
    }
    $('#'+id).toggleClass("table-info");
    if($('#'+id).hasClass("table-info"))
        selected_user.push(id);
    console.log(selected_user);
}
    function send(){
    console.log(selected_user);
    $.post('http://127.0.0.1:8000/notify_user/',{"selected_user":selected_user,"notification_title":$('#noti-title').val   (),"notification_body":$('#noti-body').val()},function(data){
        $('#noti-title').val('');
        $('#noti-body').val('');
        $('#sendnotify').modal('hide');
        alert("Notification Send");
    });
}   
    $( document ).ready(function() {
    $.get('http://127.0.0.1:8000/all_message/',function(data){
        $.each(data,function(index,value){
            $('#table_data').append('<tr id=' + value.id + ' onclick=selectRow('+ value.id + ') style="cursor:pointer;"><th scope="row">'+index+ '</th><td>' + value.name + '</td><td>' + value.phone_number + '</td><td>' + value.message + '</td><td>' + value.added + '</td></tr>');
        });
    });
});

</script>
</body>
</html>
